@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav {
    @apply flex items-center gap-2 px-4 py-2 hover:text-green-500 hover:bg-green-50 hover:px-4 hover:py-2 hover:rounded-md;
  }

  .nav-active {
    @apply text-green-500 bg-green-50 px-4 py-2 rounded-md;
  }

  .summary-card {
    @apply bg-lightBg text-stone-800 w-full;
  }

  .summary-card-active {
    @apply bg-green-500 text-lightBg w-full;
  }

  .input-field {
    @apply px-2 py-2 shadow-sm border-stone-200 border rounded-md focus:outline-green-500 w-full;
  }
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #e7e5e4;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a29e;
  border-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*Calendar*/
.my-calendar {
  padding: 1.25rem;
  width: 100%;
  border: none;
}

.my-calendar .react-calendar__tile {
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  height: 6.8rem;
  position: relative;
}

.my-calendar .react-calendar__tile abbr {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #4b5563;
}

.my-calendar .react-calendar__month-view__weekdays__weekday {
  color: #6b7280;
  font-size: 0.7rem;
  text-align: right;
  font-weight: 600;
  padding: 0.5rem;
  border-top: 1px solid #d1d5db;
}

.my-calendar .react-calendar__month-view__weekdays__weekday:first-child {
  border-left: 1px solid #d1d5db;
}

.my-calendar .react-calendar__month-view__weekdays__weekday:last-child {
  border-right: 1px solid #d1d5db;
}

.my-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.my-calendar .react-calendar__navigation {
  background-color: #ffffff;
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
}

.my-calendar .react-calendar__navigation__label {
  font-size: 1.125rem;
  font-weight: bold;
  cursor: default;
}

/*Flip card*/

.card {
  perspective: 800px;
}
.card__content {
  transform-style: preserve-3d;
}
.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  backface-visibility: hidden;
}
.card__back {
  transform: rotateY(0.5turn);
}
