@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav {
    @apply flex items-center gap-2 px-4 py-2 hover:text-green-500 hover:bg-green-50 hover:px-4 hover:py-2 hover:rounded-md dark:text-gray-300 hover:dark:bg-gray-700 hover:dark:text-green-500;
  }

  .nav-active {
    @apply text-green-500 bg-green-50 px-4 py-2 rounded-md dark:bg-gray-700 dark:text-green-500;
  }

  .summary-card {
    @apply bg-lightBg text-stone-800 w-full;
  }

  .summary-card-active {
    @apply bg-green-500 text-lightBg w-full;
  }

  .input-field {
    @apply px-2 py-2 shadow-sm border-stone-200 border rounded-md focus:outline-green-500 w-full dark:bg-gray-800 dark:text-lightBg dark:border-stone-600;
  }

  /*Calendar*/
  .my-calendar {
    @apply p-5 w-full border border-gray-300 dark:border-gray-800 dark:bg-gray-800;
  }

  .my-calendar .react-calendar__tile {
    @apply bg-white border border-gray-300 h-28 w-full relative box-border dark:bg-gray-800;
    outline: 1px solid #d1d5db;
  }

  html.dark .my-calendar .react-calendar__tile {
    outline: 1px solid #4b5563;
  }

  .my-calendar .react-calendar__tile:enabled:hover {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .my-calendar .react-calendar__tile abbr {
    @apply absolute top-2 left-2 text-sm font-bold text-gray-600 dark:text-gray-200;
  }

  .my-calendar .react-calendar__month-view__weekdays__weekday {
    @apply text-gray-500 text-[0.7rem] text-right font-semibold p-2 border-t border-gray-300 dark:text-white dark:border-stone-500;
  }

  .my-calendar .react-calendar__month-view__weekdays__weekday:first-child {
    @apply border-l border-gray-300 dark:border-stone-500;
  }

  .my-calendar .react-calendar__month-view__weekdays__weekday:last-child {
    @apply border-r border-gray-300 dark:border-stone-500;
  }

  .my-calendar .react-calendar__month-view__weekdays__weekday abbr {
    @apply no-underline;
  }

  .my-calendar .react-calendar__navigation {
    @apply bg-white w-2/5 mx-auto mb-4 dark:bg-gray-800;
  }

  .my-calendar .react-calendar__navigation button:enabled:hover {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .my-calendar .react-calendar__navigation__label {
    @apply text-lg font-bold cursor-default dark:text-white;
  }
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #e7e5e4;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a29e;
  border-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*Flip card*/
.card {
  perspective: 800px;
}
.card__content {
  transform-style: preserve-3d;
}
.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  backface-visibility: hidden;
}
.card__back {
  transform: rotateY(0.5turn);
}

.desktop-view {
  @apply w-[1024px] lg:w-[1024px] !overflow-visible;
}

.desktop-view .mobile-only {
  @apply hidden;
}

/*Date picker*/
.dark input[type="month"] {
  color-scheme: dark;
}
